<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mira - Ejemplo para enviar notificaciones</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body class="container">
    <h1>Reserva</h1>

    <form action="#" th:action="@{/reservation}" th:object="${reservation}" method="post">
        <input type="hidden" th:field="*{reservationId}" />
        <div class="form-group">
            <label th:for="hotelName">Nombre del hotel</label>
            <input type="text" class="form-control" th:field="*{hotelName}" placeholder="e.g. La Plaza Hotel">
        </div>
        <div class="form-group">
            <label th:for="city">Ciudad</label>
            <input type="text" class="form-control" th:field="*{city}">
        </div>
        <div class="form-group">
            <label th:for="firstName">Nombre</label>
            <input type="text" class="form-control" th:field="*{firstName}">
        </div>
        <div class="form-group">
            <label th:for="surName">Apellidos</label>
            <input type="text" class="form-control" th:field="*{surName}">
        </div>
        <div class="form-group">
            <label th:for="checkInDate">Fecha check-in</label>
            <input type="date" class="form-control" th:field="*{checkInDate}">
        </div>
        <div class="form-group">
            <label th:for="checkOutDate">Fecha check-out</label>
            <input type="date" class="form-control" th:field="*{checkOutDate}">
        </div>
        <div class="form-group">
            <label th:for="creditCardNumber">Número de tarjeta</label>
            <input type="text" class="form-control" th:field="*{creditCardNumber}">
        </div>
        <div class="btn-group">
            <input type="submit" value="Realizar reserva" class="btn btn-primary"/>
            <input type="reset" value="Resetear"  class="btn btn-secondary"/>
        </div>
        <ul>
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
        </ul>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>