<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mira - Ejemplo para enviar notificaciones</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <style>
        #reservation-card .list-group-item {
            border: none;
        }
    </style>
</head>
<body class="container">
    <h1>Reserva realizado</h1>

    <div id="reservation-card" class="card text-center">
        <div class="card-body">
            <ul class="list-group list-group-flush ">
                <li class="list-group-item">
                    <strong>Número de reserva</strong> : <span th:text="${reservation.reservationId}"></span>
                </li>
                <li class="list-group-item">
                    <strong>Fecha de la reserva</strong> : <span th:text="${#temporals.format(reservation.reservationDate, 'd/M/yyyy HH:mm')}"/>
                </li>
                <li class="list-group-item">
                    <strong>Nombre del hotel</strong> : <span th:text="${reservation.hotelName}"></span>
                </li>
                <li class="list-group-item">
                    <strong>Ciudad</strong> : <span th:text="${reservation.city}"></span>
                </li>
                <li class="list-group-item">
                    <strong>Nombre</strong> : <span th:text="${reservation.firstName}"></span>
                </li>
                <li class="list-group-item">
                    <strong>Apellidos</strong> : <span th:text="${reservation.surName}"></span>
                </li>
                <li class="list-group-item">
                    <strong>Fecha de check-in</strong> : <span th:text="${#dates.format(reservation.checkInDate, 'd/M/yyyy')}"></span>
                </li>
                <li class="list-group-item">
                    <strong>Fecha de check-out</strong> : <span th:text="${#dates.format(reservation.checkOutDate, 'd/M/yyyy')}"></span>
                </li>
            </ul>
            <a class="btn btn-primary" th:href="@{/}" role="button">Hacer otra reserva</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>